@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1> 	Payment   Successfuly</h1>
		Your order number is : @Model.ToString() <br /> <br />
		<img src="~/Images/lawn_leaf.jpg" width="65%" />
	</div>
	<div class="col-12 text-center " style="color:maroon">
		<br />
		<a asp-controller="Order" asp-action="details" asp-route-id="@Model">	Go To Order Details </a> <br />

	</div>
</div>